@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700,800&display=swap');

body{
    font-family: 'Nunito Sans', sans-serif;
    height:400vh;
}

.navbar{
    padding-left:50px !important;
    padding-right: 50px !important;
    padding-top:20px !important;
    padding-bottom:20px !important;
    font-weight: 400;
} 
.nav-link{
    text-transform: uppercase;
    font-size: 85%;
    color:#716D6A !important;
}
.nav-link:hover{
    color:#F69B17 !important;
}
#hero-banner{
    background-color:#F69B17 !important;
    margin-top:85.5px;
    text-align:center;
    color:white;
    width:100%;
    padding:100px;
    background-image:url('hero-bg-8.png');
    background-position: center;
    background-size: cover;
}
#hero-banner-min{
    background-color:#F69B17 !important;
    margin-top:85.5px;
    text-align:center;
    color:white;
    width:100%;
    padding:50px;
    background-image:url('hero-bg-8.png');
    background-position: center;
    background-size: cover;
}
#hero-banner-2{
    background-color:#F69B17 !important;
    text-align:center;
    color:white;
    width:100%;
    padding:10px;
    font-weight:400;
}
.nav-contact{
    color:#F69B17 !important;
}
.page-footer{
    background-color:#c0c0c0 !important;
    color:white !important;
    padding-top:10px !important;
    padding-bottom:10px !important;
}
.page-footer a{
    color:white !important;
    font-weight: 500 !important;
}
.page-footer a:hover{
    text-decoration: none !important;
}
.footer-i{
    font-size: 22.5px;
    margin-top:10px;
}


.how-section1{
    margin-top:-10%;
    padding: 10%;
}
.how-section1 h4{
    color: #ffa500;
    font-weight: bold;
    font-size: 30px;
}
.how-section1 .subheading{
    color: #5f5f5f;
    font-size: 20px;
}
.how-section1 .row
{
    margin-top: 10%;
}
.how-img 
{
    text-align: center;
}
.how-img img{
    width:250px;
}
#client{
    display: block;
}
#revendeur{
    display: none;
}